/**
 * Pickable Component Style for uxcore
 * @author onbing
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__pickable_prefix_cls: kuma-pickable;


.@{__pickable_prefix_cls}-item {
    display: inline-block;
    height: 28px;
    padding: 0 20px;
    line-height: 26px;
    border: 1px solid @border-color;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: @text-primary-color;
    &:hover {
        border-color: @brand-primary-light;
        background: @brand-primary-lighter;
    }
    &.active {
        border-color: @brand-primary-light;
        background: @brand-primary;
        color: white;
    }
    &.disabled {
        background: @bg-disabled-color;
        color: @text-disabled-color;
        border-color: @bg-disabled-color;
        cursor: not-allowed;
    }
}

.@{__pickable_prefix_cls}-item-simple {
    border: none;
    background: white;
    margin-right: 20px;
    padding: 0;
    &:hover {
        background: white;
        color: @text-primary-color;
    }
    &.active {
        color: @brand-primary;
        background: white;
        .@{__pickable_prefix_cls}-item-num {
            color: @brand-primary;
            background: @brand-primary-lighter;
        }
    }
    &.disabled {
        background: white;
        color: @text-disabled-color;
        border-color: @bg-disabled-color;
        cursor: not-allowed;
    }
    .@{__pickable_prefix_cls}-item-num {
        background: @basic-400;
        color: @text-thirdary-color;
        display: inline-block;
        min-width: 26px;
        text-align: center;
        height: 16px;
        line-height: 16px;
        margin-left: 9px;
    }

}

.@{__pickable_prefix_cls}-item-hook {
    
    &.active {
        border-color: @brand-primary-light;
        background: white;
        background: linear-gradient(-45deg, transparent 10px, white 0),             
              linear-gradient(45deg, transparent 15px, @brand-primary-light 0);
        position: relative;
        color: @text-primary-color;
        i.kuma-pickable-item-icon-hook {
            position: absolute;
            height: 10px;
            line-height: 10px;
            color: white;
            font-size: 10px;
            right: 0;
            bottom: 0px;
            &:before {
                content: "\e611";
                font-family: kuma !important;
            }
        }
    }

}




